[tool.bumpversion]
current_version = "0.9.0"
parse = "(?P<major>\\d+)\\.(?P<minor>\\d+)\\.(?P<patch>\\d+)(\\.dev(?P<dev>\\d+))?"
serialize = [
    "{major}.{minor}.{patch}.dev{dev}",
    "{major}.{minor}.{patch}",
]
search = "{current_version}"
replace = "{new_version}"
commit = true
tag = true
tag_name = "{new_version}"
tag_message = "Release {new_version}"

[[tool.bumpversion.files]]
filename = "setup.py"
search = 'VERSION = "{current_version}"'
replace = 'VERSION = "{new_version}"'

[[tool.bumpversion.files]]
filename = "pyproject.toml"
search = 'version = "{current_version}"'
replace = 'version = "{new_version}"'
